.headimg{
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
}

.restoname{
    font-family: Shrikhand,"cursive";
}

section{
    max-width: 80rem;
    margin: auto;
    background-color: #f6f6f6;
    margin-top: -4rem;
    z-index: 1;
    position: relative;
    padding: 1rem;
    border-radius: 2rem 2rem 0 0;
}

.gridmenu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
}

.clmn{
    padding: 0 1rem;
}

.menu{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    background-color: white;
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
    transition-duration: .5s;
    margin: 1rem 0;
}
.descrimenu{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.descrimenu>div>h4{
    margin: 0;
}
.descrimenu>div>p{
    margin: 0;
}

.price{
    display: flex;
    align-items: flex-end;
}

.confirm{
    background-color: #99e2d0;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;
}

.confirm>div{
    height: 1.6rem;
    width: 1.6rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: .5s;
}

.confirm>div>.fa-check{
    color: #99e2d0;
}

.menu:hover>.confirm{
    margin-right: 0rem;
    width: 6rem;
}

.menu:hover>.confirm>div{
    transform: rotate(0);
}

.menu:hover{
    padding-right: 0;
    transition-duration: .5s;
}

.btn{
    display: block;
    width: fit-content;
    margin: 3rem auto 3rem auto;
}


@media (max-width: 1024px){
    .gridmenu{
        grid-template-columns: auto;
    }
}